.card {
  width: calc(50% - 12px);
  padding: 24px;
  color: white;
  font-family: Montserrat sans-serif;
}

.title {
  margin-bottom: 12px;
  font-size: 18px;
  font-family: Montserrat, sans-serif !important;
  line-height: 16px;
  color: #333333;
}